body{
    color: rgb(39, 37, 37);
    background-image: url('f1.png');
    background-repeat: no-repeat;
    background-size: cover;

}


footer {
    background-color: transparent;
}

.navbar{
    background-color:white;
    
}

