
@{
    ViewBag.Title = "Yeniİletisim";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Müşteri Adı </label>
        <input type="text" class="form-control" name="customerName"
    </div>
    <div>
        <label>Müşteri Soyadı </label>
        <input type="text" class="form-control" name="customerLastName"
    </div>
    <div>
        <label>Müşteri Mail</label>
        <input type="text" class="form-control" name="customerMail"
    </div>
    <div>
        <label>Müşteri Telefon</label>
        <input type="text" class="form-control" name="customerPhoneNumber"
    </div>
</form>
<br />
<button class="btn btn-success">Yeni İletişim Ekle</button>

