@using EntitiyLayer.Concrete
@model Business
@{
    ViewBag.Title = "GuncelleHizmet";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form class="form form-group" method="post">
    @Html.BeginForm()
    <div>
        <label>Hizmet Adı</label>
        <input type="text" class="form-control" name="businessName" />
    </div>
    <div>
        <label>Hizmet Açıklama</label>
        <input type="text" class="form-control" name="businessDescription" />
    </div>
    <div>
        <label>Statü</label>
        <input type="text" class="form-control" name="statu" />
    </div>
    <br />
    <div>
        <button class="btn btn-success">Değişiklikleri Kaydet</button>
    </div>
</form>
