
@{
    ViewBag.Title = "YeniHizmet";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form class="form form-group" method="post">
    <div>
        <label>Hizmet Adı</label>
        <input type="text" class="form-control" name="businessName" />
    </div>
    <div>
        <label>Hizmet Açıklama</label>
        <input type="text" class="form-control" name="businessDescription" />
    </div>
    <br />
    <div>
        <button class="btn btn-success">Yeni Hizmet Ekle</button>
    </div>
</form>

