
@{
    ViewBag.Title = "YeniMedia";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Medya Adı </label>
        <input type="text" class="form-control" name="mediaName"
    </div>
</form>
<br />
<button class="btn btn-success">Yeni Medya Ekle</button>

