@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
:root{
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
    --primary:#ffede1;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
p{
    font-size: 1.25rem;
    margin-bottom: 100px;
}
h2{
    font-size: 1.75rem;
}
a{
    text-decoration: none;
    color: #f7931e;
}
a:hover {
    text-decoration: underline;
}
img{
    width: 180px;
    height: 180px;
}
.split-screen {
    display: flex;
    flex-direction: column;
}
.left{
    height: 200px;
    background:var(--primary);
    border-right: 1px solid #e7d0b4;
}
.left, .right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left .copy{
    color: black    ;
    text-align: center;
}
.left p{
    font-weight: 400;
}
.right .copy{
    color: black;
    text-align: center;
}
.right .copy p{
    margin: 1.5em 0;
    font-size: 0.875rem;
}
.right form{
    width: 300px;
}
form input[type="text"], 
form input[type="password"]{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
}
label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}
.input-container.password{
    position: relative;
}
.input-container.password i{
    position: absolute;
    top: 42px;
    right: 16px;
}
.signup-btn{
    display: block;
    width: 100%;
    background: black;
    color: white;
    font-weight: 700;
    border:1px solid white;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.signup-btn:hover{
    background: white;
    color: black;
    cursor: pointer;;
    border: 1px solid black ;
}
@media screen and (min-width:900px) {
    .split-screen{
        flex-direction: row;
        height: 100vh;
    }
    .left, .right{
        display: flex;
        width: 50%;
        height: auto;
    }
}