
@{
    ViewBag.Title = "YeniProje";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Proje Adı </label>
        <input type="text" class="form-control" name="projectName"
    </div>
    <div>
        <label>Proje Açıklama </label>
        <input type="text" class="form-control" name="projectDescription"
    </div>
    <div>
        <label>Medya ID </label>
        <input type="text" class="form-control" name="mediaId"
    </div>
</form>
<br />
<button class="btn btn-success">Yeni Proje Ekle</button>

