@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using EntitiyLayer.Concrete
@model List<CompanyInfo>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2/theme-borderless@3/borderless.css">



<link href="~/Yildizİnsaat/iletisim/css/iletisim.css" rel="stylesheet" />

<section class="ftco-section ">
    <div class="container ">
        <div class="row mb-4">
            @foreach (var item in Model)
            {
                <div class="col-md-3 ">
                    <div class="dbox w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center bg-dark">
                            <span class="@item.logo"></span>
                        </div>
                        <div class="text">
                            <p><span>@item.name : </span>@item.description </p>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row justify-content-center ">
            <div class="col-md-12 ">
                <div class="wrapper">
                    <div class="row no-gutters mb-5 ">
                        <div class="col-md-7 ">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4 text-center">Bize Yazın</h3>
                                <div id="form-message-warning" class="mb-4">
                                </div>
                                <div id="form-message-success" class="mb-4">
                                </div>
                                <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="customerName" id="customerName" placeholder="İsim" required>
                                                <div class="valid-feedback">Valid.</div>
                                                <div class="invalid-feedback">Please fill out this field.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <input type="text" class="form-control" name="customerLastName" id="customerLastName" placeholder="Soyisim" required>
                                                <div class="valid-feedback">Valid.</div>
                                                <div class="invalid-feedback">Please fill out this field.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">

                                                <input type="email" class="form-control" name="customerMail" id="customerMail" placeholder="Email" required>
                                                <div class="valid-feedback">Valid.</div>
                                                <div class="invalid-feedback">Please fill out this field.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">

                                                <input type="tel" class="form-control" name="customerPhoneNumber" id="customerPhoneNumber" placeholder="Telefon" required>
                                                <div class="valid-feedback">Valid.</div>
                                                <div class="invalid-feedback">Please fill out this field.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">

                                                <textarea name="customerMessage" class="form-control" id="customerMessage" cols="30" rows="4" required placeholder="Mesaj"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @*<a href="javascript:void(0)" onclick="MesajGoster();">Başarılı İşlem</a>*@
                                                <input type="submit" onclick="gonder()" value="Gönder" class="btn btn-dark">
                                                <div class="submitting"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex align-items-stretch">
                            <div id="map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45347.29404909317!2d29.16172452425695!3d40.920601153138726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac4f1dd92e915%3A0x7bf91a7dd7b26dcc!2sKartal%2F%C4%B0stanbul!5e1!3m2!1str!2str!4v1665585899442!5m2!1str!2str" style="border:0; width:100%; height:100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48236.45682784426!2d29.161724524256957!3d40.920601153138726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caba0b766c40b7%3A0x56f40de577c67da3!2sProf.%20Dr.%20T%C3%BCrkan%20Saylan%20K%C3%BClt%C3%BCr%20Merkezi!5e0!3m2!1str!2str!4v1664452644058!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="py-3 my-4 ">
    <ul class="nav justify-content-center pt-3 mt-5 border-top " style="font-size:18px">
        <li class="nav-item">
            <a href="~/Home/Index" class="nav-link px-2 text-dark">Anasayfa</a>
        </li>
        <li class="nav-item">
            <a href="~/Home/About" class="nav-link px-2 text-dark">Hakkımızda</a>
        </li>
        <li class="nav-item">
            <a href="~/Home/Project" class="nav-link px-2 text-dark">Projelerimiz</a>
        </li>
        <li class="nav-item">
            <a href="~/Home/Business" class="nav-link px-2 text-dark">Hizmetlerimiz</a>
        </li>
        <li class="nav-item">
            <a href="~/Home/Contact" class="nav-link px-2 text-dark">İletişim</a>
        </li>

    </ul>
    <p class="text-center text-dark mt-3">© 2022 Company, Inc</p>
</footer>


@*<script src="~/Yildizİnsaat/iletisim/js/jquery.min.js"></script>
    <script src="~/Yildizİnsaat/iletisim/js/popper.js"></script>
    <script src="~/Yildizİnsaat/iletisim/js/bootstrap.min.js"></script>
    <script src="~/Yildizİnsaat/iletisim/js/jquery.validate.min.js"></script>*@
@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>*@
<script src="~/Yildizİnsaat/iletisim/js/google-map.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

@*<script src="~/Yildizİnsaat/iletisim/js/main.js"></script>*@

<script>
    function gonder() {
        alert("Mesajınız başarı ile gönderildi. Sizinle en yakın zamanda iletişime geçeceğiz.");
        /*document.querySelector('#form-message-success').innerHTML = "Mesajınız başarı ile gönderildi. Sizinle en yakın zamanda iletişime geçeceğiz.";*/
    }
</script>

