@{
    ViewBag.Title = "About";
}
<link href="~/Yildizİnsaat/Hakkımızda/about.css" rel="stylesheet" />
<content>
    <div class="row text-dark" style="background-color:#34404d;">
        <div class="text-center text-white p-4" style="font-size: 18px">
            Kartal ve çevresinde kentsel dönüşüm inşaat projeleri üreten firmamız,
            inşaat sektöründe her geçen <br> gün daha modern yapılar üreterek
            Kartal konut projeleri dendiğinde akla gelen ilk firma olmayı <br> hedeflemektedir.
        </div>
    </div>
    <div class="row m-5 p-5" style="text-align:center; background-color: #f5f6f7;">
        <div class="col-sm-4 ">
            <h4><strong>Hakkımızda</h4></strong>
            <div class="mt-3 m-5" style="text-align: left">
                Çeboğlu İnşaat’ın temelleri Hasan ve Ahmet Çeboğlu Kardeşler
                ile Fatih Mehmet Çeboğlu tarafından 1973 yılında Çeka Kollektif Şirketi ünvanıyla atılmıştır. <br><br>
                2008 yılında ikinci kuşak çocuklarında yönetime girmesiyle birlikte kurduğumuz Çeboğlu İnşaat Reklam Gıda Tekstil Turizm Sanayi ve Ticaret Limited Şirketi ile İnşaat Mühendisi Fatih Mehmet Çeboğlu önderliğinde,
                Kartal ve çevresinde kentsel dönüşüm projeleri üretmeye devam etmekteyiz.
            </div>
        </div>
        <div class="col-sm-4 ">
            <h4><strong>Misyonumuz ve Vizyonumuz</h4></strong>
            <div class="mt-3 m-5" style="text-align: left">
                Yaptığımız projelerle birlikte yapı sektöründe güven duyulan bir firma olmak. <br> <br>

                İnsanların huzurlu bir şekilde yaşayabilecekleri, semt kültürüne uygun yapılar üretmek.<br><br>

                Mahalle konseptinden çıkmayarak, insanların lüks hayata uygun fiyatlarla ulaşabilmesini sağlamak.<br><br>
            </div>
        </div>
        <div class="col-sm-4 ">
            <h4><strong>Değerlerimiz</h4></strong>
            <div class="mt-3 m-5" style="text-align: left">
                Tecrübemizle, insanların bizlere duyduğu güveni boşa çıkarmamak. <br><br>

                Paydaşlarımıza karşı olan sorumluluklarımızı ilk sırada tutmak. <br><br>

                Yeniliğe ve teknolojiye açık olarak, kaliteli malzeme kullanmak ve işin ehli ustalarla sağlam, modern yapılar üretmeye çalışmak.<br><br>

                Yapmış olduğumuz sözleşmelere yüzde yüz bağlı kalmak.
                <br><br>
            </div>
        </div>

    </div>
</content>
