
@{
    ViewBag.Title = "Business";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous" />


<link rel="stylesheet" href="~/Yildizİnsaat/Hizmetlerimiz/hizmet.css" />




<img src="~/Yildizİnsaat/Hizmetlerimiz/ab.jpg" class="img-fluid w-100" alt="...">

<div class="container">
    <div class="row m-5">

        <div class="row m-3" style="font-size:16px; color: rgb(75, 74, 74);">
            <strong>
                Yapı Merkezi’nin 1975 yılında Söğütlüçeşme Demiryolu İstasyonu inşaatı ile başlayan raylı sistem serüveni,
                3.700 km ray hattı, 58 adet raylı sistem, 432 adet istasyon ile 3 kıtada her gün 3,5 milyondan fazla yolcuyu
                güvenle taşıma noktasına ulaşmıştır.

                Raylı Sistemler alanında bir dünya markası olan Yapı Merkezi, gerçekleştirdiği ESTRAM (Eskişehir Tramvayı) ile
                Uluslararası Toplu Taşıma Birliği (UITP) tarafından verilen “2004 yılı Raylı Sistem Ödülü”nü Türkiye’ye ilk defa
                taşımış; 2010 yılında yine UITP’nin “Dünya Raylı Sistem Entegrasyon Projesi” ödülünü Kayseri Hafif Raylı Sistemi
                ile almıştır. Kayseri Hafif Raylı Sistemi ayrıca, İngiltere Hafif Raylı Taşıma Sistemi Birliği (LRTA) ve onun yayın
                organı Tramways & Urban Transit Dergisi'nin “Yılın En İyi Yabancı Tramvay Sistemi-2010” ödülünün de sahibi olmuştur.
            </strong>
        </div>
    </div>
</div>
<div class="container" style="font-size: 20px;">
    <div class="accordion mb-5" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button bg-secondary" type="button" data-bs-toggle="collapse" style="font-size: 22px;" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Proje Çizimi
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" style="font-size: 22px;" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    Yalıtım
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed bg-secondary" type="button" style="font-size: 22px;" data-bs-toggle="collapse" style="font-size: 18px;" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Elektrik Tesisat
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" style="font-size: 22px;" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Peyzaj
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js">
    </script>
