@using EntitiyLayer.Concrete
@model List<Business>
@{
    ViewBag.Title = "Business";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous" />
<link rel="stylesheet" href="~/Yildizİnsaat/Hizmetlerimiz/hizmet.css" />


<div class="container">
    <div class="row m-5">

        <div class="row m-3" style="font-size:16px; color: rgb(75, 74, 74);">
            <strong>
                Yapı Merkezi’nin 1975 yılında Söğütlüçeşme Demiryolu İstasyonu inşaatı ile başlayan raylı sistem serüveni,
                3.700 km ray hattı, 58 adet raylı sistem, 432 adet istasyon ile 3 kıtada her gün 3,5 milyondan fazla yolcuyu
                güvenle taşıma noktasına ulaşmıştır.

                Raylı Sistemler alanında bir dünya markası olan Yapı Merkezi, gerçekleştirdiği ESTRAM (Eskişehir Tramvayı) ile
                Uluslararası Toplu Taşıma Birliği (UITP) tarafından verilen “2004 yılı Raylı Sistem Ödülü”nü Türkiye’ye ilk defa
                taşımış; 2010 yılında yine UITP’nin “Dünya Raylı Sistem Entegrasyon Projesi” ödülünü Kayseri Hafif Raylı Sistemi
                ile almıştır. Kayseri Hafif Raylı Sistemi ayrıca, İngiltere Hafif Raylı Taşıma Sistemi Birliği (LRTA) ve onun yayın
                organı Tramways & Urban Transit Dergisi'nin “Yılın En İyi Yabancı Tramvay Sistemi-2010” ödülünün de sahibi olmuştur.
            </strong>
        </div>
    </div>


    @*<div class="accordion mb-5" id="accordionPanelsStayOpenExample">
            @foreach (var item in Model)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button bg-secondary" type="button" data-bs-toggle="collapse" style="font-size: 22px;" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            @item.businessName
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <strong>@item.businessDescription</strong>
                        </div>
                    </div>
                </div>
            }


        </div>*@


@*<div class="accordion" id="accordionExample">
    @foreach (var item in Model)
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    @item.businessName
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                   @item.businessDescription
                </div>
            </div>
        </div>
    }
</div>*@

</div>


   

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
