@{
    ViewBag.Title = "Home Page";
}

<link href="~/Yildizİnsaat/Anasayfa/style.css" rel="stylesheet" />
<div class="row mb-3 mt-5">
    <!---------------------------------sol row---------------------------------------->
    <div class="col-sm-6 border border-danger">
        <div class="row m-2 mt-5 text-center">
            <h1 style="font-size: 60px;">47 yıllık inşaat tecrübemizle...</h1>
        </div>

    </div>
    <!-----------------------------------sag row-------------------------------------->
    <div class="col-sm-6 p-5 bg-black border border-success">

        <div class="row mb-3 text-white">
            <h4>
                Projelerimizle ilgili sizi bilgilendirelim
            </h4>
        </div>
        <div class="row mb-3">
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Adınız" />
            </div>

            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Soyadınız" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-6">
                <input type="email"
                       class="form-control"
                       placeholder="E-mail Adresiniz" />
            </div>
            <div class="col-sm-6">
                <input type="text"
                       class="form-control"
                       placeholder="Telefon Numaranız" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-12">
                <textarea rows="4" class="form-control" placeholder="Mesajınız...">
          </textarea>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12">
                <input type="button" class="btn btn-dark form-control" value="Gönder" />
            </div>
        </div>
    </div>
</div>